make_com_resume_screening_workflow.blueprint.json
{
    "name": "Resume Screening workflow",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2277678,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "My gateway-webhook webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "role",
                        "type": "text"
                    },
                    {
                        "name": "jobDescription",
                        "type": "text"
                    },
                    {
                        "name": "file",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text"
                            },
                            {
                                "name": "mime",
                                "type": "text"
                            },
                            {
                                "name": "data",
                                "type": "buffer"
                            },
                            {
                                "name": "files",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "mime",
                                            "type": "text"
                                        },
                                        {
                                            "name": "data",
                                            "type": "buffer"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            }
                        ],
                        "type": "collection"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "job_role",
                        "value": "{{1.role}}"
                    },
                    {
                        "name": "file_name",
                        "value": "{{1.file.name}}"
                    },
                    {
                        "name": "file_type",
                        "value": "{{1.file.mime}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 286,
                    "y": 9
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "job_role",
                        "type": "any",
                        "label": "job_role"
                    },
                    {
                        "name": "file_name",
                        "type": "any",
                        "label": "file_name"
                    },
                    {
                        "name": "file_type",
                        "type": "any",
                        "label": "file_type"
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "make-ai-extractors:extractADocument",
            "version": 1,
            "parameters": {},
            "mapper": {
                "by": "file",
                "data": "{{1.file.data}}",
                "fileName": "{{3.file_name}}"
            },
            "metadata": {
                "designer": {
                    "x": 551,
                    "y": 6
                },
                "restore": {
                    "expect": {
                        "by": {
                            "label": "File"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "by",
                        "type": "select",
                        "label": "Document source",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "url"
                            ]
                        }
                    },
                    {
                        "name": "pages",
                        "type": "text",
                        "label": "Page ranges"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true,
                        "extension": [
                            "pdf",
                            "jpeg",
                            "jpg",
                            "png",
                            "bmp",
                            "tiff",
                            "heif",
                            "docx",
                            "xlsx",
                            "pptx",
                            "html"
                        ]
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 23,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 20
            },
            "mapper": {
                "content": "{{20.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 761,
                    "y": 3
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Make AI Content Extractor - Extract text from a document [20]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 10,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4365831
            },
            "mapper": {
                "model": "gemini-2.5-flash",
                "contents": [
                    {
                        "parts": [
                            {
                                "text": "{{23.array[].content}}",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "generationConfig": {
                    "imageConfig": {},
                    "thinkingConfig": {},
                    "responseModalities": [
                        "text"
                    ]
                },
                "system_instruction": {
                    "parts": [
                        {
                            "text": "Extract candidate details from the resume.\n\nReturn ONLY valid raw JSON.\nDo NOT use markdown.\nDo NOT include ```json or ``` fences.\nDo NOT add explanations.\n\nJSON schema:\n{\n  \"name\": \"\",\n  \"email\": \"\",\n  \"phone_number\",\n  \"experience_years\": number,\n  \"skills\": [],\n  \"current_company\": \"\",\n  \"location\": \"\"\n}"
                        }
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 1015,
                    "y": 6
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 2.5 Flash"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "include_thoughts": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "My Gemini AI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ]
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": false
                                                            },
                                                            {
                                                                "help": "You get this from the 'Upload a File' module.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": false
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system_instruction",
                        "spec": [
                            {
                                "name": "parts",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt"
                                },
                                "type": "array",
                                "label": "Prompts"
                            }
                        ],
                        "type": "collection",
                        "label": "System Instructions"
                    },
                    {
                        "name": "safetySettings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "generationConfig",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Stop Sequence"
                                },
                                "type": "array",
                                "label": "Stop Sequences"
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Thinking Config"
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Image Configuration"
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ],
                        "type": "collection",
                        "label": "Generation configurations"
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 270653
            },
            "mapper": {
                "json": "{{10.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 1388,
                    "y": -7
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "result",
                        "spec": [
                            {
                                "help": "",
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "email",
                                "type": "text",
                                "label": "Email",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "experience_years",
                                "type": "number",
                                "label": "Experience years",
                                "default": null,
                                "required": false
                            },
                            {
                                "help": "",
                                "name": "skills",
                                "spec": {
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                "type": "array",
                                "label": "Skills",
                                "required": false
                            },
                            {
                                "help": "",
                                "name": "current_company",
                                "type": "text",
                                "label": "Current company",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "location",
                                "type": "text",
                                "label": "Location",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "phone_number",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "type": "collection",
                        "label": "Result",
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "candidates",
                        "spec": {
                            "spec": [
                                {
                                    "help": "",
                                    "name": "content",
                                    "spec": [
                                        {
                                            "help": "",
                                            "name": "parts",
                                            "spec": {
                                                "spec": [
                                                    {
                                                        "help": "",
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": null,
                                                        "default": null,
                                                        "required": false,
                                                        "multiline": false
                                                    }
                                                ],
                                                "type": "collection",
                                                "required": false
                                            },
                                            "type": "array",
                                            "label": null,
                                            "required": false
                                        },
                                        {
                                            "help": "",
                                            "name": "role",
                                            "type": "text",
                                            "label": null,
                                            "default": null,
                                            "required": false,
                                            "multiline": false
                                        }
                                    ],
                                    "type": "collection",
                                    "label": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "finishReason",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "help": "",
                                    "name": "index",
                                    "type": "number",
                                    "label": null,
                                    "default": null,
                                    "required": false
                                }
                            ],
                            "type": "collection",
                            "required": false
                        },
                        "type": "array",
                        "label": "Candidates",
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "usageMetadata",
                        "spec": [
                            {
                                "help": "",
                                "name": "promptTokenCount",
                                "type": "number",
                                "label": "Prompt token count",
                                "default": null,
                                "required": false
                            },
                            {
                                "help": "",
                                "name": "candidatesTokenCount",
                                "type": "number",
                                "label": "Candidates token count",
                                "default": null,
                                "required": false
                            },
                            {
                                "help": "",
                                "name": "totalTokenCount",
                                "type": "number",
                                "label": "Total token count",
                                "default": null,
                                "required": false
                            },
                            {
                                "help": "",
                                "name": "promptTokensDetails",
                                "spec": {
                                    "spec": [
                                        {
                                            "help": "",
                                            "name": "modality",
                                            "type": "text",
                                            "label": null,
                                            "default": null,
                                            "required": false,
                                            "multiline": false
                                        },
                                        {
                                            "help": "",
                                            "name": "tokenCount",
                                            "type": "number",
                                            "label": null,
                                            "default": null,
                                            "required": false
                                        }
                                    ],
                                    "type": "collection",
                                    "required": false
                                },
                                "type": "array",
                                "label": "Prompt tokens details",
                                "required": false
                            },
                            {
                                "help": "",
                                "name": "thoughtsTokenCount",
                                "type": "number",
                                "label": "Thoughts token count",
                                "default": null,
                                "required": false
                            }
                        ],
                        "type": "collection",
                        "label": "Usage metadata",
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "modelVersion",
                        "type": "text",
                        "label": "Model version",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID",
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "gemini-ai:simpleTextPrompt",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "gemini-2.5-flash",
                "textPrompt": "ou are an AI hiring assistant.\n\nCandidate:  {{`11`}}\n\nJob Description:{{1.jobDescription}}\n\nValidate Candidate profile against job description. \n\nReturn ONLY valid JSON\nReturn ONLY valid raw JSON.\nDo NOT use markdown.\nDo NOT include ```json or ``` fences.\nDo NOT add explanations.\n\nJSON Schema:\n{\n  \"skill_match_percentage\": number,\n  \"experience_match\": \"Meets/DoesNotMeet\",\n  \"fit_score\": number,\n  \"red_flags\": [],\n  \"recommendation\": \"Reject/Review/Interview\"\n}"
            },
            "metadata": {
                "designer": {
                    "x": 1395,
                    "y": 358
                },
                "restore": {
                    "expect": {
                        "model": {
                            "label": "Gemini 2.5 FlashApplies smart reasoning to fast data tasks while ensuring quick response times"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "gemini-3-pro-preview",
                                "gemini-2.5-pro",
                                "gemini-2.5-flash"
                            ]
                        }
                    },
                    {
                        "name": "textPrompt",
                        "type": "text",
                        "label": "Text prompt",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 270654
            },
            "mapper": {
                "json": "{{17.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 969,
                    "y": 361
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "result",
                        "type": "text",
                        "label": "Result",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "modelVersion",
                        "type": "text",
                        "label": "Model version",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "usageMetadata",
                        "spec": [
                            {
                                "help": "",
                                "name": "promptTokenCount",
                                "type": "number",
                                "label": "Prompt token count",
                                "default": null,
                                "required": false
                            },
                            {
                                "help": "",
                                "name": "outputTokenCount",
                                "type": "number",
                                "label": "Output token count",
                                "default": null,
                                "required": false
                            }
                        ],
                        "type": "collection",
                        "label": "Usage metadata",
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4365839
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{11.name}}",
                    "1": "{{11.email}}",
                    "2": "{{11.experience_years}}",
                    "3": "{{11.skills}}",
                    "4": "{{16.skill_match_percentage}}",
                    "5": "{{16.experience_match}}",
                    "6": "{{16.fit_score}}",
                    "7": "{{16.red_flags}}",
                    "8": "{{16.recommendation}}"
                },
                "sheetId": "Sheet1",
                "spreadsheetId": "/1CcZMw_REIx5_eXujkZ0CiMa-L8MneXg5ytfPyLJBHNE",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 502,
                    "y": 362
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Shortlisted Candidates"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Name (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Email (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Experience (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Slills (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Skill Match % (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Expereince Match? (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Fit Score (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Red Flags (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Recommmandation (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "(J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Name (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Email (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Experience (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Slills (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Skill Match % (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Expereince Match? (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Fit Score (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Red Flags (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Recommmandation (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 28,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{\n  \"name\": \"{{11.name}}\",\n  \"total_experience\": \"{{11.experience_years}}\",\n  \"phone_number\": \"{{10.result.phone_number}}\",\n  \"email\": \"{{11.email}}\",\n  \"skill_match_percentage\": \"{{16.skill_match_percentage}}\",\n  \"experience_match\": \"{{16.experience_match}}\",\n  \"fit_score\": \"{{16.fit_score}}\",\n  \"red_flags\": [\n    \"{{16.red_flags}}\"\n  ],\n  \"recommendation\": \"{{16.recommendation}}\"\n}",
                "status": "200",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 160,
                    "y": 364
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}